@using Point.WebUI

@{
    ViewBag.Title = "首页";
    Layout = "~/Areas/Platform/Views/Shared/LayoutBase.cshtml";

    var user = ViewBag.SessionInfo as UserInfo;
}

@section Style{
    @Html.RefCss("platform/css/home/index.css")
}
@section Body{
    <div id="pageloading" class="pageloading"></div>
    <div id="topmenu" class="l-topmenu">
        <div class="l-topmenu-logo">攀枝花国土资源公众号管理平台</div>
        <div class="l-topmenu-right">
            <label>@user.Name</label>
            <span class="space">|</span>
            <a href="javascript:void(0);">修改密码</a>
            <span class="space">|</span>
            <a href="javascript:void(0);" id="btnLoginOut">退出</a>
        </div>
    </div>
    <div id="layout1" style="width:99.2%; margin:0 auto; margin-top:4px; ">
        <div position="left" title="功能导航" id="accordion">
            <div title="功能列表">
                <div class="left_item cur" name="left_item" _nt="栏目管理" _tabid="tab_category_mgr" _href="@WebPath.Url("~/Platform/Category/Index")"><a href="javascript:void(0);">栏目管理</a></div>
                <div class="left_item" name="left_item" _nt="自动抓取管理" _tabid="tab_datacapture_mgr" _href="@WebPath.Url("~/Platform/AutoCapture/Index")"><a href="javascript:void(0);">自动抓取管理</a></div>
                <div class="left_item" name="left_item" _nt="公众号管理" _tabid="tab_mpmenu_mgr" _href="@WebPath.Url("~/Platform/MpManager/Index")"><a href="javascript:void(0);">公众号管理</a></div>
                <div class="left_item" name="left_item" _nt="用户管理" _tabid="tab_user_mgr"><a href="javascript:void(0);">用户管理</a></div>
            </div>
        </div>
        <div position="center" id="framecenter">
            <div tabid="tab_category_mgr" title="栏目管理" style="height:300px">
                <iframe frameborder="0" name="tab_category_mgr" id="tab_category_mgr" src="@WebPath.Url("~/Platform/Category/Index")"></iframe>
            </div>
        </div>

    </div>
    <div style="height:32px; line-height:32px; text-align:center;">
        Copyright © 2011-2013 www.pzhgt.gov.cn
    </div>
    <div style="display:none"></div>
}
@section Script{
    <script type="text/javascript">

        function redirectToLoginOut() {
            location.href = buildUrl('~/Platform/Home/LoginOut');
        }

        //var vm = new Vue({
        //    el: '#app',
        //    data: {
        //        curIndex: -1,
        //        iframeUrl: buildUrl('~/Platform/Home/HomePage'),
        //        menuList: [
        //            { name: '数据抓取', url: buildUrl('~/Platform/Home/CaputerData'), index: 0 }
        //            //{ name: '菜单同步', url: buildUrl('~/Platform/Home/SyncMapMenu'), index: 1 }
        //            //{ name: '用户管理', url: buildUrl('~/Platform/Home/UserManager'), index: 2 }
        //        ]
        //    },
        //    methods: {
        //        setIframeUrl: function (index) {
        //            if (index != -1) {
        //                this.curIndex = index;

        //                var m = this.menuList[index];

        //                this.iframeUrl = m.url;
        //            }
        //        },
        //        editPassword: function () {
        //            this.curIndex = -1;
        //            this.iframeUrl = buildUrl('~/Platform/Home/EditPassword');
        //        },
        //        resizeWin: function () {

        //            var headerH = $('#header').outerHeight(),
        //             winH = Math.max($('body').height(), $(window).height());

        //            $('#leftBox').css('height', winH - headerH);
        //            $('#rightBox').css('height', winH - headerH - 55);
        //        },
        //        loginOut: function () {
        //            if (confirm('确定要退出系统吗？')) {
        //                redirectToLoginOut();
        //            }
        //        }
        //    },
        //    created: function () {
        //        this.resizeWin();
        //    }
        //});

        var tab;
        $(function () {
            //$("#home").attr("src", "#");
            //布局
            $("#layout1").ligerLayout({ leftWidth: 190, height: '100%', heightDiff: -34, space: 4, onHeightChanged: function () { } });

            var height = $(".l-layout-center").height();

            //Tab
            tab = $("#framecenter").ligerTab({ height: height });

            //面板
            $("#accordion").ligerAccordion({ height: height, speed: null });

            $(".left_item").hover(function () {
                $(this).addClass("left_item_over");
            }, function () {
                $(this).removeClass("left_item_over");
            });

            $("#pageloading").hide();

            $('[name="left_item"]').bind('click', function () {

                var me = $(this);

                $('[name="left_item"].cur').removeClass('cur');
                me.addClass('cur');

                if (me.attr('_href')) {
                    addTab(me.attr('_nt'), me.attr('_href'), me.attr('_tabid'));
                }
            });

            $('#btnLoginOut').click(function () {
                loginOut();
            });
        });

        function addTab(title, url, tabid) {

            if (!tabid)
                tabid = new Date().getTime();
            if (tab.isTabItemExist(tabid)) {
                tab.selectTabItem(tabid);
            } else {
                tab.addTabItem({ tabid: tabid, text: title, url: url });
            }
        }

        function loginOut() {
            if (confirm('确定要退出系统吗？')) {
                redirectToLoginOut();
            }
        }

    </script>
}
